# built binaries
target/

# pre-commit hooks: rumdl
.rumdl_cache/

# cargo-tarpaulin
coverage
build_rs_cov.profraw
tarpaulin-report.json
tarpaulin-report.html

# development
tmp/
TODO.md
*.bak

# npm
bin/
package/
augent-*.tgz
