# Uses https://mise.jdx.dev/

### Development dependencies ###################################################

[tools]

rust = { version = "1.93", components = "rust-analyzer" }
prek = "latest"
"cargo:cargo-nextest" = "latest"

[settings]
lockfile = true
task_output = "interleave"

### Environment ################################################################

# Use ./tmp as the development workspace directory
[env]
AUGENT_WORKSPACE = "{{ [config_root] | concat(with='tmp') | join_path }}"

# Run augent by name (instead of cargo run --) in the project directory
[shell_alias]
augent = "mise build --quiet --manifest-path {{ [config_root] | concat(with='Cargo.toml') | join_path }} && {{ [config_root] | concat(with='target/debug/augent') | join_path }}"
ag = "augent"

### Tasks ######################################################################

# Usage: mise <task-name> [task-args]

[tasks.build]
description = "Build binary"
run = "cargo build"

[tasks.check]
description = "Run all checks"
alias = "c"
run = [
  { task = "format" },
  { task = "lint" },
  { task = "test" }
]

[tasks.format]
description = "Format codebase"
run = "cargo fmt"

[tasks.test]
description = "Run tests"
run = "cargo nextest run"

[tasks.lint]
description = "Lint codebase"
run = "cargo clippy --all-targets --all-features"

[tasks.lint-fix]
description = "Lint codebase and auto-fix"
run = "cargo clippy --fix --allow-dirty --all-features -- -D warnings"

[tasks.lint-fix-all]
description = "Lint codebase with pedantic and auto-fix"
run = "cargo clippy --fix --allow-dirty --all-features -- -D warnings -W clippy::pedantic"

[tasks.ccn]
description = "Check CCN"
alias = 'z'
run = "uvx lizard -C 10 --warnings_only src/ tests/"

[tasks.hooks]
description = "Run pre-commit hooks"
run = [
  "prek install --hook-type pre-commit --hook-type commit-msg",
  "prek run --all-files",
]
