# https://mise.jdx.dev/

### Development dependencies ###################################################

[tools]
rust = "1.93"
prek = "latest"

[settings]
lockfile = true
task_output = "interleave"

### Tasks ######################################################################
#
# Usage: mise <task-name> [task-args]
#
# E.g. run development binary with ./tmp as workspace:
#
#   mise augent [args]
#

[tasks.augent]
description = "Run augent in dev"
alias = "a"
env = { AUGENT_WORKSPACE = "{{ [config_root] | concat(with='tmp') | join_path }}" }
run = "cargo run --"

[tasks.hooks]
description = "Run pre-commit hooks"
run = "prek run --all-files"

[tasks.lint]
description = "Run clippy"
run = "cargo clippy --all-targets --all-features -- -D warnings"

[tasks.test]
description = "Run tests"
run = "cargo test"

[tasks.check]
description = "Run all checks"
alias = "c"
run = [{ task = "hooks" }, { task = "lint" }, { task = "test" }]
