# Uses https://mise.jdx.dev/

### Development dependencies ###################################################

[tools]
rust = "1.93"
prek = "latest"
'cargo:cargo-tarpaulin' = "latest"

[settings]
lockfile = true
task_output = "interleave"

### Environment ################################################################

# Use ./tmp as the development workspace directory
[env]
AUGENT_WORKSPACE = "{{ [config_root] | concat(with='tmp') | join_path }}"

# Run augent by name (instead of cargo run --) in the project directory
[shell_alias]
augent = "cargo build --quiet --manifest-path {{ [config_root] | concat(with='Cargo.toml') | join_path }} && {{ [config_root] | concat(with='target/debug/augent') | join_path }}"

### Tasks ######################################################################

# Usage: mise <task-name> [task-args]

[tasks.check]
description = "Run all checks"
alias = "c"
run = [{ task = "hooks" }, { task = "lint" }, { task = "test" }]

[tasks.hooks]
description = "Run pre-commit hooks"
run = "prek run --all-files"

[tasks.lint]
description = "Run clippy"
run = "cargo clippy --all-targets --all-features -- -D warnings"

[tasks.test]
description = "Run tests"
run = "cargo test"

[tasks.cov]
description = "Run tests with coverage"
run = "cargo tarpaulin"
