# https://mise.jdx.dev/

### Development dependencies ###################################################

[tools]
rust = "1.93"
prek = "latest"

[settings]
lockfile = true

### Tasks ######################################################################
#
# Usage: mise <task-name> [task-args]
#
# Run development binary with ./tmp as workspace:
#
#   mise augent [args]
#
# Run pre-commit, lint and test in parallel, and fail on first error:
#
#   mise all

[tasks.augent]
description = "Run augent in development mode"
alias = "a"
env = { AUGENT_WORKSPACE = "{{ [config_root] | concat(with='tmp') | join_path }}" }
run = "cargo run --"

[tasks.hooks]
description = "Run pre-commit hooks"
run = "prek run --all-files --verbose"

[tasks.lint]
description = "Run clippy"
run = "cargo clippy --all-targets --all-features -- -D warnings"

[tasks.test]
description = "Run tests"
run = "cargo test"

[tasks.all]
description = "Run all checks in parallel (fail on first error)"
depends = ["hooks", "lint", "test"]
